<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115596597338-gi3ris3pfm0f3gglsg47bet2edhr2nkk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115596597338-gi3ris3pfm0f3gglsg47bet2edhr2nkk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>115596597338-f6n3eh7ka0g38jq97h8at62vs1k4fhlc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBmh1Pxgc6nvw4xXwX0UimF_bOZpUOwjFU</string>
	<key>GCM_SENDER_ID</key>
	<string>115596597338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flashsol.parashstore</string>
	<key>PROJECT_ID</key>
	<string>parashstore-67ccc</string>
	<key>STORAGE_BUCKET</key>
	<string>parashstore-67ccc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115596597338:ios:b136e9da41fb137a68a063</string>
	<key>DATABASE_URL</key>
	<string>https://parashstore-67ccc.firebaseio.com</string>
</dict>
</plist>